<!DOCTYPE html>
<html lang = en>

<head>
  <meta charset=UTF-8> <!--self closes-->
  <title>Cafe Menu</title> <!--not visible in the browser but SEO useful-->
  <style>
     <style>
      h1 {
 text-align: center;
}
    </style>
  </style>
</head>

<body>
  <main>
  <h1>Camper Cafe</h1> <!--Top left corner-->
  <p>Est. 2020</p>
  
  <section>
  <h2>Coffee</h2>
  </section>
  
  <section>
  </section>
  
  </main>
</body>

</html>